{% extends 'base.html' %}
{% load static %}
{% block content %}




<br>
<nav  style="background-color: #143a48; margin-right: 15px;  margin-left: 15px;" class="navbar navbar-inverse">
  <br>
  <div class="container-fluid">
    <div class="navbar-header">
      {% if request.user.is_superuser %}
        <a style="color:#ffc107;" href="{% url 'admin:index' %}"><i class="fa fa-user"></i> پنل مدیریت  </a>
      {% endif %}
    </div>

    <ul class="nav navbar-nav">
      <li></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <h3 style="color:#EEE;">&nbsp;   سطح اول شرکت توانکار BOM نرم افزار    &nbsp; </h3>
      </li>
    </ul>

  </div>
  <br>
</nav>

<br>


  <h4 dir="rtl" align="center">   آخرین قطعات اضافه شده </h4>

<!-- partial:index.partial.html -->
<div dir="rtl" id="demo">

  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>

        <tr>
          <th> نام </th>
          <th> کد </th>
          <th> تامین کنند </th>
          <th> موارد کاربرد </th>
          <th> تصویر </th>
        </tr>

      </thead>
      <tbody>
        {% for material in material_list %}
        <tr>
          <td data-title="نام"> <a href="{{material.get_absolute_url}}">  {{ material.name }} </a>   </td>
          <td data-title="کد"> {{ material.code }} </td>
          <td data-title="تامین کنند"> {% for supplier in material.supplier.all %} {{ supplier }}&nbsp;&nbsp;{% endfor %}  </td>
          <td data-title="موارد کاربرد">  {% for product in material.product.all %} {{ product }}&nbsp;&nbsp;{% endfor %} </td>
          <td data-title="تصویر">  <img align="right" style="border-radius: 50%;" width="50" height="50" src="{{ material.image.url }}"> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- partial -->






{% endblock content %}
