{% extends 'base.html' %}
{% load static %}
{% block content %}






<br>
<nav  style="background-color: #143a48; margin-right: 15px;  margin-left: 15px;" class="navbar navbar-inverse">
  <br>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> لیست تامین کنندگان </a>
    </div>
    <ul class="nav navbar-nav">
      <li></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li>
        <form dir="rtl" action="{% url 'App:supplier_response' %}" method="post">
           {% csrf_token %}
          <input style="width:160px" name="q" type="search" placeholder=" جستجو برای تامین کننده... ">
        </form>
      </li>

      <li>
        &nbsp;&nbsp;
      </li>
    </ul>
  </div>
  <br>
</nav>


{% if request.user.is_superuser %}



<!-- partial:index.partial.html -->
<div dir="rtl" id="demo">

  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>

        <tr>
          <th> نام </th>
          <th> توضیحات </th>
          <th> شماره تلفن </th>
        </tr>

      </thead>
      <tbody>
        {% for supplier in supplier_list %}
        <tr>
          <td data-title="نام"> <a href="{{supplier.get_absolute_url}}">  {{ supplier.name }} </a>   </td>
          <td data-title="توضیحات"> {{ supplier.description }} </td>
          <td data-title="شماره تلفن">  {{ supplier.phone_number }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- partial -->
{% else %}
 <br>
 <h2 dir="rtl" align="center"> با عرض پوزش شما اجازه دسترسی به این قسمت را ندارید </h2>
{% endif %}

{% endblock content %}
